* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(21, 21, 21, 0.9); /* Adjusted to background color */
}

button {
    border-radius: 0;
    border-color: #424242; /* Dark gray for subtle contrast */
	text-decoration-color: #E8E3E3; /* Foreground color */
    color: #E8E3E3; /* Foreground color */
	background-color: #151515; /* Background color */
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #8C977D; /* Soft blue when hovered */
	outline-style: none;
}

#lock {
    background-image: image(url("icons/lock.svg"), url("icons/lock.svg"));
}

#logout {
    background-image: image(url("icons/logout.svg"), url("icons/logout.svg"));
}

#suspend {
    background-image: image(url("icons/suspend.svg"), url("icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("icons/hibernate.svg"), url("icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("icons/shutdown.svg"), url("icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("icons/reboot.svg"), url("icons/reboot.svg"));
}
